<!DOCTYPE html>
<html>
<head>
    <title>Looking for Work!</title>
</head>
<body>
<h2>Alumni who are currently Looking for Work:</h2>
<ul>
            {% for alumni in lfw_alumni %}
            <li>Name:  {{ alumni.name }}
                Email: {{ alumni.email }}
            </li>
        {% endfor %}
</ul>
<b><p>Check out the following links for GIS jobs:</b></p>
<a href="http://www.gjc.org/">GIS Jobs Clearinghouse!</a>
<p><a href="http://www.reddit.com/r/gisjobs/">Reddit's GIS Jobs!</a></p>
</body>
</html>