{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>IESA Alumni</title>
</head>
<body>
<img src="{% static "managealumni/welcomebanner.png" %}" alt="Welcome" height="" width="">
<h2>Informal IESA Alumni</h2>
<p>What is IESA?</p>
IESA was formed in 2001 on the Gainesville campus. The Institute promotes environmental education through the use of advanced technology, interdisciplinary instruction, collaborative learning, and service.
The Institute brings together the perspectives of numerous disciplines through the synthesis of Geospatial Technology, applied techniques, and theory to address social, human and environmental issues.
Students, faculty, and staff work together with industry, government, and community partners through their coursework resulting in a dynamic and socially relevant learning environment.
<p>Degree and Certificate Programs: <a href="http://ung.edu/institute-environmental-spatial-analysis/degree-and-certificate-programs.php">Click Here!</a></p>
<p>Check out IESA's site: <a href="http://ung.edu/institute-environmental-spatial-analysis/index.php">Click Here!</a></p>
<p>IESA's Informal Alumni: <a href="http://127.0.0.1:8000/alumni">Click Here!</a></p>
</body>
</html>