{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>IIAA</title>
    <style>body {background-color: #1B1BD6; text-align: center; text-indent: 50px;}</style>
</head>
<body>
<img src="{% static "managealumni/welcomebanner.png" %}" alt="Welcome" height="" width="">
<h2>Informal IESA Alumni Association</h2>
<b><p>What is IESA?</p></b>
<p>IESA was formed in 2001 on the Gainesville campus. The Institute promotes environmental education through the use of advanced technology, interdisciplinary instruction, collaborative learning, and service.
The Institute brings together the perspectives of numerous disciplines through the synthesis of Geospatial Technology, applied techniques, and theory to address social, human and environmental issues.
Students, faculty, and staff work together with industry, government, and community partners through their coursework resulting in a dynamic and socially relevant learning environment.</p>
<b><p>What is the IIAA?</p></b>
<p>The IIAA is an informal alumni association being created for the purposes of networking and giving back to the institute that has given us all so much.</p>
<b><p>IIAA's Members:</b> <a href="http://127.0.0.1:8000/alumni">Click Here!</a></p>
<p><b><a href="http://ung.edu/institute-environmental-spatial-analysis/degree-and-certificate-programs.php">IESA Degree and Certificate Programs!</a></b></p>
<p><b><a href="http://ung.edu/institute-environmental-spatial-analysis/index.php">IESA Official Website!</a></b></p>

</body>
</html>