{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>IIAA</title>
<style>body {
    background-image: url(http://d13pix9kaak6wt.cloudfront.net/background/esri_1300744478_48.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    }
       footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
        }
    </style>
</head>

<body>
<div>
<ul>
    <li style="display:inline;"><a href="http://127.0.0.1:8000/alumni">IIAA Members</a></li>
    <li style="display:inline;"><a href="http://127.0.0.1:8000/lfw">Employable Alumni</a></li>
</ul>
</div>

<div>
<h1>Informal IESA Alumni Association</h1>

<h2>What is IESA?</h2>

<p>IESA was formed in 2001 on the Gainesville campus of UNG.  IESA promotes environmental education using advanced technology, <br>
    interdisciplinary instruction, collaborative learning, and service.  The Institute brings together numerous disciplines through <br>
    the synthesis of Geospatial Technology, applied techniques, and theory to address social, human and environmental issues.  Students, faculty, and staff<br>
    work together with industry, government, and community partners through their coursework resulting in a dynamic and socially relevant learning environment.<br>
    If you are interested in learning more about IESA and it's programs please click on the links at the bottom of the page. </p>

<h2>What is the IIAA?</h2>

<p>The IIAA is an informal alumni association being created for the purposes of networking and giving back to the institute that has given us all so much.</p>
<img src="{% static "managealumni/GIS3half.jpg" %}" alt="Geo A" height="" width="">
</div>

<footer>

<ul>
    <li style="display:inline;"><a href="http://ung.edu/institute-environmental-spatial-analysis/degree-and-certificate-programs.php">IESA Degree and Certificate Programs</a></li>
    <li style="display:inline;"><a href="http://ung.edu/institute-environmental-spatial-analysis/index.php">IESA Official Website</a></li>
</ul>
        <p>This page is not an official publication of the University of North Georgia (UNG).  If you have reason
        to believe something has been used without permission please contact the author of the page(s).</p>
</footer>

</body>
</html>